<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'login-form' }) do |f| %>
  <div class="login-field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="login-field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="login-actions">
    <%= link_to 'Sign Up', new_user_registration_url, class: 'registration-link' %>
    <%= f.submit "Log in",  class: 'login-button green-button' %>
  </div>
<% end %>
